body {
    background-color: #e2d0e7;
    margin: 20px;
    font-family: Arial, sans-serif;
}
h1 {
    font-family: 'patrick hand', cursive;
    font-weight: 600;
    font-size: xx-large;
    color: #122932;
}
p {
    font-family: 'patrick hand', cursive;
    text-align: center;
    color: #122932;
}
button {
    background-color: #1a4d46;
    font-family: 'patrick hand', cursive;
    font-weight: 300;
    padding: 14px 28px;
    border: 2px solid #122932;
    border-radius:  60% 40% 55% 45% / 45% 60% 40% 55%;
    color: #9fe4db;
    cursor: pointer;
    margin: 50px;
    display: inline-block;
}
button a {
    color: #9fe4db;
    text-decoration: none;
}
footer {
    margin-top: 40px;
    color: #1e312f;
    background-color: #f3e9c8;
    border-radius: 15px 50px;
    border: 2px solid #1e312f;
    font-size: x-large;
    text-align: center;
    font-family: 'patrick hand', cursive;
    line-height: 0.5px;
}
img {
    border: 2px solid #122932;
    border-radius: 60% 40% 55% 45% / 45% 60% 40% 55%;
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 20px;
    display: block;
}
.blob {
    display: inline-block;      
    padding: 14px 26px;
    background: #6b0fd4;
    border-radius: 60% 40% 55% 45% / 45% 60% 40% 55%;
    font-family: 'Patrick Hand', cursive;
}
div {
    display: inline-block;
    border-radius: 60% 40% 55% 45% / 45% 60% 40% 55%;
    border-color: #122932;
    background: #eeb3d0;
}
.HC {
    border-radius: 60% 40% 55% 45% / 45% 60% 40% 55%;
    font-family: 'patrick hand' , cursive;
    text-align: center;
    color: #122932;
    display: inline-block, block;
    background: #eeb3d0;

}