body {
    background-color: #bba67b;
    margin: 20px;
    font-family: Arial, sans-serif;
}
pre {
    color: #663a11;
    font-family: Arial, sans-serif;
}

h1 {
    color: #663a11;
    font-family: Arial, sans-serif;
}
